.main-catalog{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #cardDesc1{
        height: 90%;
        width: 30%;
        .card-header{
            height: 10%;
            color: #0d6efd;
        }
        .card-body{
            height: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
                .card-img-top{
                    max-height: 100%;
                    width: auto;
                }
        }
        .list-group{
            height: 30%;
            .list-group-item{
                height: 33.3333%;
            }
        }
    }
    #cardDesc2{
        height: 90%;
        width: 30%;
        .card-header{
            height: 10%;
            color: #0d6efd;
        }
        .card-body{
            height: 80%;
            tr{
                td{
                    border-bottom: #6c757d dotted 0.5px;
                }
            }
        }
        .card-footer{
            height: 10%;
        }
    }
}

