.ilc {
    width: 100%;
    height: 120%;
    border: solid red /*#0d6efd*/ 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.ilc .div1 {
    width: 15vw;
    height: 30vh;
    border: 2px solid red;
}
.ilc .div1 .div2 {
    border: 2px solid red;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ilc .div1 .div3 {
    border: 2px solid red;
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.ilc .div1 .div3 .but1 {
    height: 5vh;
    width: 5vh;
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ilc .div1 .div3 .but2 {
    height: 5vh;
    width: 5vh;
    background-color: green;
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;

}


.ilc .div1 .div5 {
    border: 2px solid red;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.ilc .div1 .div5 .but3 {
    height: 5vh;
    width: 12vw;

}
