.main-catalog{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    .card{
        height: 70%;
        width: 14%;
        margin: 1%;
        margin-top: 3%;
        #link1{
            height: 85%;
            text-decoration: none;
            .card-header{
                height: 15%;
            }
            .card-body{
                height: 55%;
                display: flex;
                align-items: center;
                justify-content: center;
                .card-img-top{
                    height: auto;
                    max-width: 100%;
                }
            }
            .list-group{
                height: 30%;
                font-size: medium;
                .list-group-item{
                    height: 50%;
                    border: none;
                }
            }
        }
        .card-footer{
            height: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    #card:hover{
        transform: scale(1.05);
        border: #0d6efd solid 5px;
    }
}